/* .body{
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color : aquamarine;
} */

.box {
    position: relative;
    border: 0px;
    padding: 0px;
    margin: 0px;
}


.navbar{
    z-index: 1;
    position: absolute;
    top: -10px;
    background-color: rgb(0, 136, 255);
    opacity: 0.9;
    border-radius: 8px;



    
    height: 2vh;
    width:98vw; 
    /*min-width: 99%;*/
    border: -8px;
    padding: 10px;

}
.navbar a{
    color: aliceblue;
    font-size: 2vh;
    text-decoration: none;
    /* font-family: fantasy; */
}

.signup_pos{
    position: absolute;
    right: 3vw;
}

.login_pos{
    position: absolute;
    right: 7vw;
}

.search_pos{
    position: absolute;
    left: 5vw;
    font-size: 2vh;
    font-weight: 700;
}

.pp{
    /* z-index: 10; */
    position: absolute;
    top: 8vh;
    left: 5vw;
    opacity: 1;    

    font-size: 30px;
    font-weight: bold;
}

.first_post_div{
    z-index: 10; 
    border-width: 1px;
    border-color: rgb(98, 0, 255);
    border-style: solid;
    border-radius: 28px;
    background-color: rgb(140, 181, 232);
    

    position: absolute;
    top: 20vh;
    left: 10vw;
    right: 10vw;

    height: 27vh;
    width: 80vw;
}

.second_post_div{
    z-index: 10;
    border-width: 1px;
    border-color: rgb(98, 0, 255);
    border-style: solid;
    background-color: rgb(140, 181, 232);
    border-radius: 28px;

    position: absolute;
    top: 53vh;
    left: 10vw;
    right: 10vw;

    height: 27vh;
    width: 80vw;
}

.post_title{
    z-index: 1;
    font-weight: bold;
    font-size: 3vh;

    position: absolute;
    top: 0vh;
    left: 3vw;
}

.post_article{
    color: gray;
    font-size: 2vh;

    position: absolute;
    top: 5vh;
    left: 7vw;
}


.background{
    z-index: 100;
    background : url("https://i.imgur.com/wdMfzuC.png");
    /* background: url("https://images.unsplash.com/photo-1636998094434-96c8e4635184?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: yellow; */

    top: -1000px;


    height: 98vh;
    width: 99vw;
    opacity: 0.2;
}


